/* ==Userstyle==

@name        Ракушкораллы
@namespace   github.com/w0nuri/stylish-war/
@version     0.1.0
@description Смена изображений ракушек и кораллов на версии с подписанными эффектами
@author      Нури

==Userstyle== */

@-moz-document url-prefix("https://catwar.net/cw3/"), url-prefix("https://catwar.su/cw3/") {

/*Озерная Вселенная*/
li img[src="things/3994.png"],
li .exchange img[src="things/3994.png"],
.itemInMouth img[src="things/3994.png"] {
    content: url('https://www.dropbox.com/scl/fi/0oy1fbkk3f5ipzfe9gq3y/3994.png?rlkey=dkbfuqgx7253r5syf6tb2ejtl&st=zlz3dmhz&dl=1');
}

li img[src="things/3995.png"],
li .exchange img[src="things/3995.png"],
.itemInMouth img[src="things/3995.png"] {
    content: url('https://www.dropbox.com/scl/fi/ojhe3sdkhrxw8ucc9jewk/3995.png?rlkey=whx2klym2h0edyjfirmdhuzv4&st=6w84gvwy&dl=1');
}

li img[src="things/3997.png"],
li .exchange img[src="things/3997.png"],
.itemInMouth img[src="things/3997.png"] {
    content: url('https://www.dropbox.com/scl/fi/waz82r1ia0p104f981870/3997.png?rlkey=1yelavshsyb1qn6i4cg0hzwsq&st=cayfcbdd&dl=1');
}

li img[src="things/3998.png"],
li .exchange img[src="things/3998.png"],
.itemInMouth img[src="things/3998.png"] {
    content: url('https://www.dropbox.com/scl/fi/0hv9ycioh1w01jva2q3a5/3998.png?rlkey=vgnjkhdytgd80qsc6pdd05d2y&st=z2blv06s&dl=1');
}

li img[src="things/3999.png"],
li .exchange img[src="things/3999.png"],
.itemInMouth img[src="things/3999.png"] {
    content: url('https://www.dropbox.com/scl/fi/ojjpsxgv2cspyyl0vpmfs/3999.png?rlkey=ii5u3lvst8xi0ofuzm6ku7fwz&st=e5sodevu&dl=1');
}

/*Морская Вселенная*/
li img[src="things/4001.png"],
li .exchange img[src="things/4001.png"],
.itemInMouth img[src="things/4001.png"] {
    content: url('https://www.dropbox.com/scl/fi/p6yovvmqhu2tzwc56g8wy/4001.png?rlkey=qfqz4c4s81c3sw02yub72hvyw&st=m8nvyz9l&dl=1');
}

li img[src="things/4002.png"],
li .exchange img[src="things/4002.png"],
.itemInMouth img[src="things/4002.png"] {
    content: url('https://www.dropbox.com/scl/fi/4usat1rocvvuq5posjdlg/4002.png?rlkey=x2wnqlr1yfs6omp2o2le39tny&st=9aaaq97n&dl=1');
}

li img[src="things/4004.png"],
li .exchange img[src="things/4004.png"],
.itemInMouth img[src="things/4004.png"] {
    content: url('https://www.dropbox.com/scl/fi/x1bq0mpti1fu5h0xcq01i/4004.png?rlkey=1rxjnvsuqvq03wgodestyeyo7&st=2b3r3n1o&dl=1');
}

li img[src="things/4005.png"],
li .exchange img[src="/things/4005.png"],
.itemInMouth img[src="things/4005.png"] {
    content: url('https://www.dropbox.com/scl/fi/n6ooc2bo5gsnjbprdfi1i/4005.png?rlkey=p2ggarkfojclf7eieuprsgy2k&st=y7suscq6&dl=1');
}

li img[src="things/4006.png"],
li .exchange img[src="things/4006.png"],
.itemInMouth img[src="things/4006.png"] {
    content: url('https://www.dropbox.com/scl/fi/hl9hqnr4svi6q5n35nlvi/4006.png?rlkey=bs2vuqescrbpova78djfx689g&st=gyskn7v5&dl=1');
}
}