/* ==UserStyle==
@name         Окрас Правосудия (1669874)
@version      0.0.2
@namespace    github.com/w0nuri/stylish-war
@description  Смена окраса Правосудия (1669874)
@author       Правосудия (1669874)
==/UserStyle== */

@-moz-document url-prefix("https://catwar.net/cw3/"), url-prefix("https://catwar.su/cw3/") {
div[style*="954d465d652fba86.png"] {
background-image: url('https://github.com/w0nuri/stylish-war/blob/main/Kik/stand.png?raw=true') !important; }
div[style*="279d05a5d02070ae.png"] {
background-image: url('https://github.com/w0nuri/stylish-war/blob/main/Kik/drink.png?raw=true') !important; }
div[style*="4517990caea2dd2a.png"] {
background-image: url('https://github.com/w0nuri/stylish-war/blob/main/Kik/sleep.png?raw=true') !important; }
}