div[style*="954d465d652fba86.png"] {
background-image: url('https://psv4.userapi.com/s/v1/d2/Gid49ZECkfRGKGboIMMn6V_RgcU0CZ4u6KAigoWpdZO8My9kkiQTmQSD-szmSBxiJf7bNlFmD7USdli_ReMTsWtOpNnSlemaObc64Jn2pQwTV8o24jFwX-EZ7zVt1p_wrCMArgMGvJTA/NovyKholst1.png') !important; }
div[style*="279d05a5d02070ae.png"] {
background-image: url('https://psv4.userapi.com/s/v1/d2/uR-166KcowK_AVE9nNVdGe2cqzr8OITPrjXKtrdw5EE2ndllVRXZHjKLywqPkHoAHwtKR8McXbVyIeXvJtfPsuxS-xoQSOxfHp83t_UbNnLGYFBWang1Vgt0RtTyV0nNRYZNIZtpmV4m/pyuschaya.png') !important; }
div[style*="4517990caea2dd2a.png"] {
background-image: url('https://psv4.userapi.com/s/v1/d2/2_OTyvXxliwgGf5KvLjGk4_N5ibmW7C5Jn-zPTISBgjVf6sOsy015J-N5RJxF5Io4JNPOks3jdjl39TEO3o8132xibrJKsvmtcdbsJFOyM-U8WbyRhLmGmCXHee0P3KF9vpibGKEvaA1/Bez_nazvania_2.png') !important; }
